body{
    font-family:Arial, Helvetica, sans-serif;
    margin:40px;
    background:#f4f6f9;
}

h1{
    text-align:center;
}

#visitorTime{
    text-align:center;
    font-size:18px;
    margin-bottom:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

th{
    background:#2b5cff;
    color:white;
    padding:15px;
}

td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

tbody tr:hover{
    background:#eef4ff;
}

.day{
    color:green;
    font-weight:bold;
}

.night{
    color:#555;
}

.open{
    color:green;
    font-weight:bold;
}

.closed{
    color:red;
    font-weight:bold;
}